@keyframes pulse2 {
    10% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.pulse2 {
    animation: pulse2 1s linear infinite;
}
