html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #c0c0c0;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  min-height: 100%;
  display: table;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cover {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 40px 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  padding-bottom: 10px;
  color: #a0a0a0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
}

footer a {
  text-decoration: none;
  color: #777777;
  font-size: inherit;
  font-weight: 500;
}

h1 {
  font-size: 38px;
  font-weight: normal;
  color: #456;
}

h1 small {
  font-size: 68%;
  font-weight: 400;
  color: #777777;
}

h2 {
  font-size: 24px;
  color: #666;
  line-height: 1.5em;
}

h3 {
  color: #456;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

hr {
  max-width: 800px;
  margin: 18px auto;
  border: 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid white;
}

img {
  max-width: 300px;
  width: 40vw;
  display: block;
  margin: 20px auto;
}

code.error {
  color: #f0ad4e;
  margin: auto;
  display: block;
  max-width: 1024px;
}

#logo a {
  border-bottom: none;
}

a {
  font-weight: normal;
  color: #4A8BEE;
  font-size: 18px;
  text-decoration: none;
}

@media (min-width: 375px) {
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 54px;
  }
  
  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  img {
    margin: 40px auto;
  }
}