<?xml version="1.0" encoding="UTF-8"?>
<clientConfig version="1.1">
    <emailProvider id="{{ email_provider }}">
      <domain>{{ domain }}</domain>
      <displayName>{{ display_name }}</displayName>
      {#- <displayShortName>{{ display_name }}</displayShortName> #}
      <incomingServer type="imap">
         <hostname>{{ imap_server }}</hostname>
         <port>{{ imap_port }}</port>
         <socketType>{{ 'SSL' if imap_ssl else 'STARTTLS' }}</socketType>
         <authentication>password-cleartext</authentication>
         <username>{{ username }}</username>
      </incomingServer>
      <incomingServer type="pop3">
         <hostname>{{ pop3_server }}</hostname>
         <port>{{ pop3_port }}</port>
         <socketType>{{ 'SSL' if pop3_ssl else 'STARTTLS' }}</socketType>
         <authentication>password-cleartext</authentication>
         <username>{{ username }}</username>
      </incomingServer>
      <outgoingServer type="smtp">
         <hostname>{{ smtp_server }}</hostname>
         <port>{{ smtp_port }}</port>
         <socketType>{{ 'SSL' if smtp_ssl else 'STARTTLS' }}</socketType>
         <username>{{ username }}</username>
         <authentication>password-cleartext</authentication>
         <useGlobalPreferredServer>{{ 'yes' if smtp_global_preferred else 'no' }}</useGlobalPreferredServer>
      </outgoingServer>
    </emailProvider>
</clientConfig>
